<div id="custom-carousel" class="margin-header carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#custom-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#custom-carousel" data-slide-to="1"></li>
        <li data-target="#custom-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container carousel-container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Préstamo de material</h3>

                        <p>Disponemos de un servicio de préstamo de material para estudiantes, para que disfrutes de
                            equipamiento deportivo de alta gama sin ningún coste.</p>
                    </div>
                    <div class="col-sm-6">
                        <img class="img-responsive carousel-image" src="app/assets/img/padel_0.jpg" alt="padel0">
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container carousel-container" style="width: 70%">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Modernas instalaciones</h3>

                        <p>Reformadas durante el curso 2014-2015, nuestras instalaciones ponen a plena disposición de
                            los alumnos las mejores pistas deportivas de la Comunidad de Madrid.</p>
                    </div>
                    <div class="col-sm-6">
                        <img class="img-responsive carousel-image" src="app/assets/img/padel_1.jpg" alt="padel0">
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container carousel-container" style="width: 70%">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>El mejor personal</h3>

                        <p>Contamos con un equipo de formadores reconocidos con títulos a nivel local y nacional,
                            quienes se encargarán de formar a los más jóvenes para competir en distintos niveles.</p>
                    </div>
                    <div class="col-sm-6">
                        <img class="img-responsive carousel-image" src="app/assets/img/padel_2.jpg" alt="padel0">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <a class="left carousel-control" href="#custom-carousel" role="button" data-slide="prev" ng-non-bindable>
        <div class="rounded-control">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#custom-carousel" role="button" data-slide="next" ng-non-bindable>
        <span class="glyphicon glyphicon-chevron-right rounded-control" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>