<main class="container-fluid container-960 margin-header content-container">
    <div class="login-check" ng-show="!authenticated">
        <div class="courts-selector">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Reserva de pistas</h1>
                    <h3>Es necesario estar autenticado para acceder al área de reserva de pistas.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="courts-selector" ng-show="authenticated">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Reserva de pistas</h1>

                <div class="datepicker-container">
                    <div class="input-group">
                        <input type="date" class="form-control" uib-datepicker-popup
                               ng-model="dt"
                               is-open="datePickerLogic.status.opened"
                               min-date="datePickerLogic.minDate"
                               datepicker-options="datePickerLogic.dateOptions"
                               ng-required="true"
                               close-text="Close"/>

                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="datePickerLogic.open($event)">
                          <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                    </div>
                </div>
                <div class="datepicker-button">
                    <button class="btn btn-default" ng-click="queryAvailableCourts()">Consultar fecha</button>
                </div>
            </div>
        </div>
        <div class="row results" ng-show="showCourtsAvailableTable()">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Número de pista</th>
                        <th>Horario</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="court in availableCourts | orderBy:'+date'">
                        <td>{{ court.courtId }}</td>
                        <td>{{ court.date | date:'HH:mm:ss' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>