<div ng-include="'app/views/partials/main-carousel.html'"></div>

<main class="container-fluid container-960 content-container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pádel UPM
                <small>El club universiterio más dinámico del circuito</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <section class="col-md-4 info">
            <div class="icon-container">
                <div class="bg-icon icon-teacher"></div>
            </div>

            <h3 class="page-header">Clases</h3>

            <p>El conjunto de monitores más cualificados se encargará de darte la formación en cuanto a técnica
                requerida en este deporte. Las clases prácticas te permitirán interiorizar los movimientos adecuados
                como si fuesen naturales.</p>

            <p>Las clases colectivas convierten las clases en un espacio dinámico donde jugar se convierte en una
                actividad placentera y divertida.</p>
        </section>
        <section class="col-md-4 info">
            <div class="icon-container">
                <div class="bg-icon icon-training"></div>
            </div>

            <h3 class="page-header">Entrenamientos</h3>

            <p>Si te sientes un campeón, de verdad lo eres o quieres avanzar rápidamente en la técnica que rodea a este
                deporte te podemos configurar sesiones de entrenamiento a tu medida con un entrenador personal que se
                encargará de:</p>
            <ul>
                <li>Enseñarte la técnica adecuada para mejorar tus golpes</li>
                <li>Enseñarte a combinar la potencia con la técnica</li>
                <li>Mostrarte cómo mejorar el rendimiento en equipo</li>
                <li>Explicarte cómo utilizar la presión de los campeonatos en tu beneficio</li>
            </ul>
        </section>
        <section class="col-md-4 info">
            <div class="icon-container">
                <div class="bg-icon icon-champion"></div>
            </div>

            <h3 class="page-header">Campeonatos</h3>

            <p>El club organiza campeonatos periódicos en los que te puedes divertir al mismo tiempo que mejoras en el
                deporte. Tenemos campeonatos de un día, de fin de semana y ligas regulares. Puedes participar en los
                torneos masculinos, femeninos y mixtos.</p>
        </section>
    </div>
</main>